# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
env/
ENV/
.venv/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# Streamlit cache
.streamlit/cache/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Database / Local Storage
# =========================
*.sqlite3
*.db

# =========================
# Temporary Files
# =========================
tmp/
temp/
*.tmp